.formFile h1
{
    text-align: center;
    color: #000000;
    font-weight: 800;
    margin-top: -5px;
}
.formFile form {
    background-color: #fff;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.formFile label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}
.formFile input[type="text"],
.formFile input[type="file"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.formFile button[type="submit"] {
    background: linear-gradient(90deg, rgba(116,177,224,1) 0%, rgba(149,101,185,1) 100%);;
    width: 100%;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
}
.formFile button[type="submit"]:hover
{
    background: linear-gradient(90deg, rgb(59, 151, 222) 0%, rgb(116, 56, 162) 100%);;
}
.texto
{
    font-weight: 500;
    font-size: 18px;
}